@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;600;700;800&family=Montserrat:ital,wght@1,700&family=Poppins:ital,wght@0,500;0,600;1,700&family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');
body {
    font-size: 20px;
    font-family: "Libre Franklin";
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    min-height: 100%;
    margin: 0 1.75em;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

:root {
    /*### Primary*/
    --cor-azul: hsl(223, 87%, 63%);
    /*### Secondary*/
    --cor-azul-claro: hsl(223, 100%, 88%);
    --cor-vermelho-claro: hsl(354, 100%, 66%);
    /*### Neutral*/
    --cor-cinza: hsl(0, 0%, 59%);
    --cor-azul-muito-escuro: hsl(209, 33%, 12%);
    --cor-branco: #fff;
}

.box_geral {
    max-width: 640px;
    margin: 3.5rem 1.125rem 5rem;
    text-align: center;
}

header img {
    text-align: center;
    width: 55px;
    margin-bottom: 2.75rem;
}

.titulo h1 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--cor-cinza);
}

span {
    font-weight: 700;
    color: var(--cor-azul-muito-escuro);
}

.sub_titulo {
    color: var(--cor-azul-muito-escuro);
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 3.5em;
}

.conteudo__input {
    padding-bottom: 1rem;
}

.conteudo-input {
    width: 16rem;
    padding: 1em 2em;
    border-radius: 2rem;
    border: 1px solid var(--cor-azul-claro);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.conteudo-input:focus-visible {
    outline: 0.1rem solid var(--cor-azul-claro);
}

input[type="email"]::placeholder {
    color: var(--cor-azul-claro);
    font-size: 1rem;
}

#error-msg {
    color: var(--cor-vermelho-claro);
    display: none;
    font-size: .9rem;
    justify-content: center;
}

form {
    max-width: 100%;
    border-radius: 27px;
    margin: 0 auto;
}

.button {
    width: 16rem;
    padding: 1em 2em;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    color: var(--cor-branco);
    background: var(--cor-azul);
    font-weight: 600;
    box-shadow: 1px 2px 10px var(--cor-azul);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover {
    opacity: .9;
}

.conteudo_image {
    padding-top: 5rem;
}

.conteudo_icon {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 11px;
    width: 100%;
    padding-bottom: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}

.fa-facebook-f {
    border-radius: 50%;
    border: 0.1px solid var(--cor-azul-claro);
    width: 2rem;
    font-size: .9rem;
}

.fa-facebook-f:before {
    color: var(--cor-azul);
    line-height: 2.5;
}

.fa-facebook-f:hover::before {
    color: var(--cor-branco);
}

.fa-facebook-f:hover {
    background: var(--cor-azul);
}

.fa-twitter {
    border-radius: 50%;
    border: 0.1px solid var(--cor-azul-claro);
    width: 2rem;
    font-size: .9rem;
}

.fa-twitter:before {
    color: var(--cor-azul);
    line-height: 2.5;
}

.fa-twitter:hover:before {
    color: var(--cor-branco);
}

.fa-twitter:hover {
    background: var(--cor-azul);
}

.fa-instagram {
    border-radius: 50%;
    border: 0.1px solid var(--cor-azul-claro);
    width: 2rem;
    font-size: .9rem;
}

.fa-instagram:before {
    color: var(--cor-azul);
    line-height: 2.5;
}

.fa-instagram:hover {
    background: var(--cor-azul);
}

.fa-instagram:hover::before {
    color: var(--cor-branco);
}

.conteudo_footer {
    font-size: .9rem;
    color: var(--cor-cinza);
    overflow: hidden;
}

@media (min-width: 1000px) {
    .box_geral {
        max-width: 640px;
        margin: 3.375em 1.125em 3em;
        text-align: center;
    }
    header img {
        width: 85px;
    }
    .box_input {
        display: flex;
        gap: 1rem;
    }
    .button {
        width: 10rem;
    }
    .titulo h1 {
        font-size: 3rem;
        margin-bottom: 0.4em;
    }
    .sub_titulo {
        font-size: 1.2rem;
        margin-bottom: 2em;
    }
}